<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="css/style.css">
  <title>Mars' Weather</title>
</head>

<body>
  <section class="sections">
    <div class="bg__ctn bg-overlay bg-overlay--weather">
      <video class="bg--video" autoplay autoplay muted loop>
        <source src="img/bg-vid3.mp4" type="video/mp4">
      </video>
    </div>
    <div class="container">
      <div class="weather">
        <div class="weather__temperature features__ctn">
          <h2 class="weather__main text-top">Temperature</h2>
          <p class="weather__sub">Today's weather(&#8457;)</p>
          <div class="weather__temperature--trans">
            <p class="high"><%= highTemp %>&#176;</p>
            <p class="high__sub">High</p>
          </div>
          <div class="weather__temperature--color half">
            <p class="low"><%= lowTemp %>&#176;</p>
            <p class="low__sub">Low</p>
          </div>
          <p class="sol-num">Sol <%= solKeys %></p>
        </div>
        <div class="weather__pressure features__ctn">
          <h2 class="weather__main text-top">Pressure</h2>
          <div class="weather__pressure--content center">
            <p class="content"><%= pressure %> Pa</p>
            <p class="content__sub">mean pascal</p>
          </div>
          <p class="sol-num">Sol <%= solKeys %></p>
        </div>
        <div class="weather__season features__ctn">
          <h2 class="weather__main text-top">Season</h2>
          <div class="weather__season--content center">
            <p class="content"><%= season %></p>
          </div>
          <p class="sol-num">Sol <%= solKeys %></p>
        </div>
        <div class="weather__wind features__ctn">
          <h2 class="weather__main text-top">Wind</h2>
          <div class="weather__wind--content center">
            <p class="content"><%= wind %> m/s</p>
            <p class="content__sub">avg. speed</p>
          </div>
            <p class="sol-num">Sol <%= solKeys %></p>
        </div>
      </div>
    </div>
  </section>
</body>

</html>
